body {
    background-color: lightgray;

}
.navbar {
    background-color: white;
    display: block;
}

.name {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color:rgb(21, 138, 138);
    color: white;
    font-size: 27px;
    text-align: center;
    padding-left: 30px;
    padding-bottom: 20px;
    padding-top: 20px;

}

.content {
    font-family: Arial, Helvetica, sans-serif;
    
}

a {
    color: darkgray;
}

a:hover {
    color: darkgray;
}

.info {
    background-color: white;
    color: rgb(117, 114, 114);
    margin-top: 10px;
}

.aboutName {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(21, 138, 138);
    font-size: 27px;
    padding-top: 15px;
    padding-left: 15px;
}

hr {
    top: 20px; 
            border: none; 
            height: 2px; 
            background: lightgray; 
            margin-bottom: 20px; 
}

img {
    height: 150px;
    width: 200px;
    margin-right: 20px;

}

form {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(117, 114, 114);
}

.btn {
    background-color: rgb(21, 138, 138);
    margin-bottom: 10px;
    color: white;
}

.cards {
    color: rgb(21, 138, 138);
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    margin-left: -5px;
}

.image {
    padding-left: 10px;
    padding-right: 15px;

}

.image2 {

    padding-right: 15px;
}

.portpage {
    color: rgb(21, 138, 138);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.portpage:hover {
    color: rgb(21, 138, 138);
}

.footer {
    background-color: rgb(104, 109, 109);
    color: white;
    text-align: center;
    margin-top: 30px;

}
